@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow&display=swap');

.landingpage h1{
    margin: 0;
    margin-top: 12rem;
    font-family: 'Ribeye Marrow', cursive;
    line-height: 3rem;
    color: #B784B7;
    text-shadow: 1px 1px 1px #5c365c, 
                -1px -1px 1px #5c365c, 
                1px -1px 1px #5c365c, 
                -1px 1px 1px #5c365c;
}

.landingpage h3{
    margin-top: 1rem;
}

.landingpage-links{
    justify-content: center;
    display: flex;
    gap: 1rem;
}