.login-container{
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 370px;
    background-color: lightgray;
    border: 2px solid rgb(83, 75, 81) ;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 3px 5px 10px 3px lightgray;
}

.register-container{
    height: 470px;
}

.login-container h1{
    font-size: 36px;
    text-align: center;
}

.login-container .auth-message{
    margin: -1rem auto 0 auto;
}

.login-container .success{
    color: lime;
}

.login-container .error{
    color: red;
}


.login-container label{
    text-align: left;
}

/* Input */
.form-content{
    padding: 0;
    margin: 0.2rem auto 1rem auto;
    max-width: 250px;
    min-width: 250px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);

}

.login-container .inputbox{
    border: none;
    padding: 10px;
    outline: none;
}

.login-container select{
    width: 250px;  
}

.login-container .typed{
    width: 230px;
}

.login-container .pass{
    width: 203px;
    border-right: 1px solid white;
}

/* Password toggle */
.form-content i{
    margin: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
}

/* Button */
.buttons-sign-in{
    display: flex;
    gap: 0;
    margin-top: 1rem;
    justify-content: center;
}

.login-container .login{
    height: 3.3rem;
    outline: none;
    border: 2px solid #4d0c7e;
}

/* register button <a> */
.login-container .register{
    padding: 12px;
    width: 115px;
    color: black;
    border: 2px solid #3d3d3d;
    border-radius: 20px;
    font-size: 100%;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.login-container .register:hover{
    text-decoration: none;
}

.login-container .register:active{
    color: black;
    text-decoration: none;
}

/* link */
.login-container .forgot{
    display: block;
    margin: 2rem;
    font-size: 90%;
    color: #0083ca;
    text-decoration: none;
}

.login-container .forgot:hover{
    text-decoration: underline ;
}

.login-container .forgot:focus{
    color: #004196;
    text-decoration: underline 
}

.register-container a{
    display: block;
    margin: 1rem;
}

/* Back to Homepage */
.back-to-homepage{
    margin-top: 7rem;
    width: 10rem;
}
